$overlayOpacity: 0.5;

.team-btn {
  color: white;
  font-weight: bold;
  background-position: 30% 30%;
  background-repeat: no-repeat;

  .label {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  * {
    border-bottom: none !important;
    font-weight: bold !important;
    white-space: normal;
  }

  &.Egyptian {
    box-shadow:inset 0 0 0 500px rgba(map-get($colors, egyptian), $overlayOpacity);
  }
  &.Norse {
    box-shadow:inset 0 0 0 500px rgba(map-get($colors, norse), $overlayOpacity);
  }
  &.Greek {
    box-shadow:inset 0 0 0 500px rgba(map-get($colors, greek), $overlayOpacity);
  }
  &.Mesoamerican {
    box-shadow:inset 0 0 0 500px rgba(map-get($colors, mesoamerican), $overlayOpacity);
  }

  .item-inner {
    // 4 faction selection divs - iOS nav bar - iOS status bar (SE)
    height: calc(33.33333vh - (44px / 3) - 5px);
  }
}