page-entry {

  .button-wrapper {
    width: 50%;
    height: 30%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button:first-child {
      font-weight: bold;
    }
  }

  h1 {
    color: white;
    white-space: normal;
    width: 60%;
    margin: 0 auto;
    font-size: 8rem;
    text-align: center;
    line-height: 0.95;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 70%;
      top: 50%;
      height: 2px;
      border-bottom: 0.6px solid rgba(255, 255, 255, 0.397);
    }

    span {
      font-weight: bold;
      font-size: 2rem;

      &:nth-child(1), &:nth-child(2) {
        font-size: 2.5rem;
        letter-spacing: 3px;
        text-shadow: 4px 4px 9px #0000007d;
        color: #ffffffdb;
      }

      &:nth-child(3) {
        font-size: 8rem;
        text-shadow: 0px 0px 8px #cccccc, 15px 15px 16px #00000059;
      }
    }
  }

  .content {
    background: linear-gradient(107deg,#c94b4b,#4b134f);
  }

  footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff7a;
  }
}