<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Hand ({{hand.length}})</ion-title>
    <ion-buttons left>
      <button ion-button (click)="quitToEntry()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        &nbsp;Quit
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button outline color="danger" (click)="showDiscardPile()" class="show-discards-btn">
        Discards
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content>
  <section class="hand-control">
    <!--  characters info  -->
    <div class="char-info">
      <p *ngFor="let char of characterData">
        <span class="char-name">{{char.name}} {{getMinorCount(char)}}</span> <span class="char-health">{{char.health}}</span>
      </p>
    </div>
    <!-- Draw Btn -->
    <button ion-button (click)="drawCard()" class="draw-btn">
      Draw ({{deck.length}})
    </button>
  </section>

  <div *ngIf="hand.length === 0 && !isDead" class="no-hand-info">
    No Cards in Hand
    <br/>
    Draw {{startingCardCount}} Cards To Get Started
  </div>

  <div *ngIf="isDead" class="no-hand-info">
    You Dead
    <br/>
    Sucks to be you, nerd
  </div>

  <ion-card
    *ngFor="let card of hand; let i = index" 
    (click)="playCard(i)"
    class="card"
    [ngClass]="assignColorClass(card.name)"
  >
    <ion-card-header>
      <span>{{card.name}}</span>
      <span>{{card.atk == -1 ? '*' : card.atk}}/{{card.def == -1 ? '*' : card.def}}</span>
    </ion-card-header>
    <p class="sub-header">{{card.owner}}</p>
    <ion-card-content>
      {{card.effect}}
    </ion-card-content>
  </ion-card>

</ion-content>

<!--  Discards Side Menu   -->
<ion-menu id="menu-discard-pile" type="overlay" side="right" [content]="discardsContent">
  <ion-content>
    <ion-title class="discards-title">
        Discards ({{discards.length}})
    </ion-title>

    <div
      *ngIf="discards.length === 0"
      class="no-discards-info"
    >
      No cards in Discard Pile
    </div>

    <ion-card *ngFor="let card of discards; let i = index" (click)="returnDiscard(i)" class="card discard">
      <ion-card-header>
        <span>{{card.name}}</span>
        <span>{{card.atk === -1 ? '*' : card.atk}}/{{card.def === -1 ? '*' : card.def}}</span>
      </ion-card-header>
      <p class="sub-header">{{card.owner}}</p>
      <ion-card-content>
        {{card.effect}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-menu>

<ion-nav #discardsContent swipeBackEnabled="false"></ion-nav>