hand-view {

  .show-discards-btn {
    font-size: 1.2rem;
    opacity: 0.5;
  }

  .hand-control {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    .show-discards-btn, .filler {
      width: 60px;
      font-size: 1.2rem;
    }

    .draw-btn {
      width: 100px;
    }

    > * {
      height: 50px;
    }
  }

  .card {
    min-height: 100px;
    position: relative;

    .card-header {
      position: relative;
    }

    &.basic-card:before {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: map-get($colors, norse-light);
      z-index: 0;
    }
    &.special-card:before {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: map-get($colors, mesoamerican-light);
      z-index: 0;
    }
  }

  .no-hand-info {
    text-align: center;
    margin-top: 50%;
  }

}