// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.discards-title {
  padding: 10px 0 5px 0;
}

.no-discards-info {
  text-align: center;
  margin-top: 50%;
  font-weight: 500;
  opacity: 0.5;
  font-size: 1.5rem;
}

.card {
  min-height: 100px;
  position: relative;

  .card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;

    span:last-child {
      font-weight: bold;
      letter-spacing: 4px;
    }
  }

  .sub-header {
    opacity: 0.65;
    padding-left: 16px; 
  }

  &.basic-card:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    background: map-get($colors, norse-light);
    z-index: 0;
  }
  &.special-card:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    background: map-get($colors, mesoamerican-light);
    z-index: 0;
  }
}