<ion-menu id="menu-discard-pile" type="overlay" side="right" [content]="discardsContent">
  <ion-content>
    <ion-title class="discards-title">
        Discards ({{discards.length}})
    </ion-title>

    <div
      *ngIf="discards.length === 0"
      class="no-discards-info"
    >
      No cards in Discard Pile
    </div>

    <ion-card *ngFor="let card of discards; let i = index" (click)="returnDiscard(i)" class="card discard">
      <ion-card-header>
        {{card.name}}
      </ion-card-header>
      <ion-card-content>
        {{card.effect}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #discardsContent swipeBackEnabled="false"></ion-nav>